-- ============================================================
--  Little Scholars Hub — Migration 011
--  Content Library: coloring pages / mini-books / interests /
--  levels / trending / ratings / view counts + FeaturedCollections
--  Run AFTER 01_schema.sql .. 10_dynamic_math_questions.sql
-- ============================================================

USE LittleScholarHub;
GO

-- ─── 1. Worksheets — new library columns ───────────────────

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Worksheets') AND name = 'content_type')
BEGIN
    ALTER TABLE dbo.Worksheets
        ADD content_type VARCHAR(16) NOT NULL DEFAULT 'worksheet'
            CONSTRAINT CK_WS_ContentType CHECK (content_type IN ('worksheet','coloring','mini_book','workbook'));
    PRINT 'Added content_type to Worksheets';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Worksheets') AND name = 'interest_tag')
BEGIN
    ALTER TABLE dbo.Worksheets
        ADD interest_tag VARCHAR(24) NULL
            CONSTRAINT CK_WS_Interest CHECK (interest_tag IN
                ('animals','dinosaurs','space','ocean','fantasy','vehicles','holidays','sports','nature'));
    PRINT 'Added interest_tag to Worksheets';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Worksheets') AND name = 'page_count')
BEGIN
    ALTER TABLE dbo.Worksheets ADD page_count TINYINT NULL;
    PRINT 'Added page_count to Worksheets';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Worksheets') AND name = 'view_count')
BEGIN
    ALTER TABLE dbo.Worksheets ADD view_count INT NOT NULL DEFAULT 0;
    PRINT 'Added view_count to Worksheets';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Worksheets') AND name = 'rating_avg')
BEGIN
    ALTER TABLE dbo.Worksheets ADD rating_avg DECIMAL(2,1) NOT NULL DEFAULT 0;
    PRINT 'Added rating_avg to Worksheets';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Worksheets') AND name = 'rating_count')
BEGIN
    ALTER TABLE dbo.Worksheets ADD rating_count INT NOT NULL DEFAULT 0;
    PRINT 'Added rating_count to Worksheets';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Worksheets') AND name = 'social_badge')
BEGIN
    ALTER TABLE dbo.Worksheets
        ADD social_badge VARCHAR(16) NULL
            CONSTRAINT CK_WS_SocialBadge CHECK (social_badge IN ('instagram','tiktok','teachers'));
    PRINT 'Added social_badge to Worksheets';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.Worksheets') AND name = 'is_trending')
BEGIN
    ALTER TABLE dbo.Worksheets ADD is_trending BIT NOT NULL DEFAULT 0;
    PRINT 'Added is_trending to Worksheets';
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID('dbo.Worksheets') AND name = 'IX_WS_ContentType')
BEGIN
    CREATE INDEX IX_WS_ContentType ON dbo.Worksheets(content_type);
END
GO

-- ─── 2. DifficultyLevels → Warm-up / On level / Challenge ──

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.DifficultyLevels') AND name = 'slug')
BEGIN
    ALTER TABLE dbo.DifficultyLevels ADD slug VARCHAR(16) NULL;
END
GO

UPDATE dbo.DifficultyLevels SET slug = 'warm-up'   WHERE level_id = 1 AND slug IS NULL;
UPDATE dbo.DifficultyLevels SET slug = 'on-level'  WHERE level_id = 2 AND slug IS NULL;
UPDATE dbo.DifficultyLevels SET slug = 'challenge' WHERE level_id = 3 AND slug IS NULL;
GO

IF EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('dbo.DifficultyLevels') AND name = 'slug' AND is_nullable = 1)
BEGIN
    ALTER TABLE dbo.DifficultyLevels ALTER COLUMN slug VARCHAR(16) NOT NULL;
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.key_constraints WHERE name = 'UQ_Difficulty_Slug')
BEGIN
    ALTER TABLE dbo.DifficultyLevels ADD CONSTRAINT UQ_Difficulty_Slug UNIQUE (slug);
    PRINT 'Added slug to DifficultyLevels';
END
GO

UPDATE dbo.DifficultyLevels SET label = 'Warm-up'   WHERE level_id = 1;
UPDATE dbo.DifficultyLevels SET label = 'On level'  WHERE level_id = 2;
UPDATE dbo.DifficultyLevels SET label = 'Challenge' WHERE level_id = 3;
GO

-- ─── 3. FeaturedCollections — admin-curated top strip ──────

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE name = 'FeaturedCollections' AND type = 'U')
BEGIN
    CREATE TABLE dbo.FeaturedCollections (
        featured_id        INT           NOT NULL CONSTRAINT PK_Featured PRIMARY KEY IDENTITY,
        worksheet_id        INT           NOT NULL CONSTRAINT FK_Featured_WS
                                              REFERENCES dbo.Worksheets(worksheet_id) ON DELETE CASCADE,
        subtitle_override   NVARCHAR(128) NULL,
        sort_order          TINYINT       NOT NULL DEFAULT 0,
        is_active           BIT           NOT NULL DEFAULT 1,
        starts_at           DATE          NULL,
        ends_at             DATE          NULL,
        created_at          DATETIME2     NOT NULL DEFAULT SYSUTCDATETIME()
    );
    PRINT 'Created FeaturedCollections table';
END
GO

-- ─── 4. Seed: retag existing sample worksheets + add library items ──

UPDATE dbo.Worksheets SET content_type = 'coloring',  page_count = 2, estimated_min = 10, interest_tag = 'nature'
    WHERE title = N'Gita Values Coloring Book';
GO

IF NOT EXISTS (SELECT 1 FROM dbo.Worksheets WHERE title = N'Color the Magical Unicorn')
BEGIN
    INSERT INTO dbo.Worksheets
        (subject_id, grade_id, language_id, difficulty_id, content_type, interest_tag,
         title, description, estimated_min, page_count, view_count, rating_avg, rating_count,
         social_badge, is_trending, teacher_name)
    VALUES
    (4, 0, 1, 1, 'coloring', 'fantasy',
     N'Color the Magical Unicorn', N'A warm-up coloring page featuring a friendly unicorn.',
     10, 2, 92000, 4.9, 640, 'instagram', 1, N'Ms. Rivera'),

    (4, 0, 1, 1, 'coloring', 'dinosaurs',
     N'Color the T-Rex Friend', N'A gentle dinosaur coloring page for our youngest scholars.',
     10, 2, 78000, 4.9, 512, 'tiktok', 1, N'Ms. Rivera'),

    (4, 0, 1, 1, 'coloring', 'nature',
     N'Color the Garden Flower', N'Mother''s Day coloring page — color the garden flower.',
     10, 2, 41000, 4.8, 305, NULL, 1, N'Ms. Rivera'),

    (5, 1, 1, 1, 'mini_book', 'animals',
     N'Mini-Book: I See a Cat', N'An 8-page emergent reader mini-book about a curious cat.',
     10, 8, 47000, 4.9, 260, NULL, 1, N'Mrs. Kim'),

    (12, 3, 2, 2, 'mini_book', NULL,
     N'静夜思 (Quiet Night)', N'A Tang poem mini-book with pinyin and illustrations.',
     15, 6, 8600, 4.8, 90, NULL, 0, N'老师 Wang'),

    (14, 4, 4, 2, 'mini_book', NULL,
     N'La Flor de Nochebuena', N'A bilingual Spanish mini-book for Cuentos time.',
     15, 8, 5200, 4.7, 64, NULL, 0, N'Sra. Gomez'),

    (13, 5, 1, 2, 'mini_book', NULL,
     N'The Little Lamp (Gita)', N'An inspirational Gita mini-book about a small light with big purpose.',
     15, 8, 6100, 4.8, 71, NULL, 0, N'Priya Auntie'),

    (8, 5, 1, 2, 'workbook', NULL,
     N'Empathy Scenarios', N'End-of-year SEL workbook — read the scenario, choose the kind response.',
     20, 12, 3900, 4.7, 48, NULL, 0, N'Mr. Chen'),

    (3, 6, 1, 3, 'workbook', NULL,
     N'Singapore Bar Model: Ratios', N'Math review workbook using bar models to reason about ratios.',
     25, 10, 4400, 4.8, 55, NULL, 0, N'Mrs. Patel');
    PRINT 'Seeded content-library worksheets';
END
GO

IF NOT EXISTS (SELECT 1 FROM dbo.FeaturedCollections)
BEGIN
    INSERT INTO dbo.FeaturedCollections (worksheet_id, subtitle_override, sort_order, is_active)
    SELECT worksheet_id, N'TK · Mother''s Day', 0, 1 FROM dbo.Worksheets WHERE title = N'Color the Garden Flower'
    UNION ALL
    SELECT worksheet_id, N'2nd · AAPI Heritage', 1, 1 FROM dbo.Worksheets WHERE title = N'静夜思 (Quiet Night)'
    UNION ALL
    SELECT worksheet_id, N'3rd · Cuentos', 2, 1 FROM dbo.Worksheets WHERE title = N'La Flor de Nochebuena'
    UNION ALL
    SELECT worksheet_id, N'4th · Inspiration', 3, 1 FROM dbo.Worksheets WHERE title = N'The Little Lamp (Gita)'
    UNION ALL
    SELECT worksheet_id, N'4th · SEL · end-of-year', 4, 1 FROM dbo.Worksheets WHERE title = N'Empathy Scenarios'
    UNION ALL
    SELECT worksheet_id, N'5th · Math review', 5, 1 FROM dbo.Worksheets WHERE title = N'Singapore Bar Model: Ratios';
    PRINT 'Seeded FeaturedCollections';
END
GO
